<div class="card">
    <h4 class="card-header">About</h4>
    <div class="card-block">
        <ul>
            <li><b>Author:</b> <a href="https://github.com/littleplantstudio" target="_blank">Pituk Kaewsuksai</a></li>
            <li><b>GitHub:</b> <a href="https://github.com/littleplantstudio/MEAN-Stack-Relational" target="_blank">Project Repository</a></li>
            <li><b>Tools used:</b></li>
            <ul>
                <li><a href="https://www.mysql.com/" target="_blank"><b>M</b>ySQL</a></li>
                <li><a href="http://www.expressjs.com" target="_blank"><b>E</b>xpress.js</a></li>
                <li><a href="https://www.angular.io" target="_blank"><b>A</b>ngular 4</a></li>
                <li><a href="https://www.nodejs.org" target="_blank"><b>N</b>ode.js</a></li>
                <li><a href="https://cli.angular.io" target="_blank">Angular CLI</a></li>
                <li><a href="http://www.getbootstrap.com" target="_blank">Bootstrap</a></li>
                <li><a href="http://www.fontawesome.io" target="_blank">Font Awesome</a></li>
            </ul>
        </ul>
    </div>
</div>